@model MilestoneProject.Models.Fighter

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>

<div>
    <h4>Fighter</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.wins)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.wins)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.losts)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.losts)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.draws)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.draws)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.weightCategory)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.weightCategory.name)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.FighterId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
</body>
</html>
